/* Breakpoint para telas pequenas */
@media screen and (max-width: 700px) {
    /* Header */
    header .container {
        display: flex;
        flex-direction: column;
    }

    /* Botões */
    .botao {
        margin-top: 5px;
        width: 300px;
    }

    /* Filme principal */
    .filme-principal {
        height: 570px;
    }
}

/* Breakpoint para telas grandes */
@media screen and (min-width: 1000px) {
    /* Descrição do filme principal */
    .descricao {
        width: 50%;
    }

    /* Filme principal */
    .filme-principal {
        height: 570px;
    }
}
